<app-banner />

<section class="container my-5">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="ps-0 pt-4">
                <h4><strong>About me</strong></h4>
                <p>An internationally recognised Lead Software Engineer / Full
                    Stack (Frontend) with 9+ years of experience who finds joy in crafting exceptional web experiences,
                    fixing breaking logic and bug fixes using JavaScript, Typescript, Angular, React, Vue, NodeJS,
                    [Python] newbie, Artificial Intelligence enthusiast. My days are filled with lines of code, bringing
                    creativity to life through top-notch technology stack. Additionally, I have contributed as a tech
                    author for Generative AI and JavaScript in Plain English publications. Apart from that, I am
                    advocate for best practices and a google, amazon web services technology speaker of Ai and other
                    frameworks.</p>
                <p><strong>Talks about #code, #github, #angular, #javascript, #angular, #reactjs, and
                        #opensource</strong></p>
                <p>I am a proud <a class="text-black"
                        href="https://www.amazon.com/stores/Mr.-Muhammad-Awais/author/B0DM9F12NJ">Author</a> of 2
                    technology books. I'm also a community representative and got international recognitions from
                    (Google Developer Groups,
                    JetBrains, Amazon Web Services, Auth0, Postman, DigitalOcean, JavaScript in Plain English,
                    Generative Ai).</p>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <img class="w-100 rounded-circle" [src]="'https://i.ibb.co/6yQQF1y/1670522766188-1.jpg'" alt="sideAvatar" />
        </div>
    </div>
</section>