@import '../../../assets/scss/mixins.scss';

.banner {
    text-align: center;
    h1 {
        font-size: 10rem;
        @include respond(large) {
            font-size: 7rem;
        }
        @include respond(small) {
            font-size: 3rem;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        @include respond(large) {
            font-size: 2rem;
        }
        @include respond(small) {
            letter-spacing: 0.2rem;
            font-size: 0.8rem;
        }
    }
}